html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1540px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: purple;
  font-size: 4rem;
}
/* header */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav styles */
.hamburger {
  cursor: pointer;
  margin-top: 0.5rem;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #f16f47;
}

.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
  margin: 0;
}

.nav-links a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: rgb(236, 233, 233);
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
  border-radius: 0.3rem;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}
