---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const {pageTitle} = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      section {
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
      }
    </style>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body>
    <Header />
    <section>
      <h1>{pageTitle}</h1>
      <slot />
    </section>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      ...
        declare global {
          ...
          interface Window{
            netlifyIdentity:sny;
          }
        }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user:any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
